<h1>Create New Book</h1>

<%= render partial: '/layouts/form_errors', locals: {model: @book} %>

<%= form_for @book, :url => admin_books_path do |f| %>

<%= render partial: 'books', locals: {f: f} %>
<hr>

<%= f.submit %>

<% end %>
