<h1>Login</h1>

<%= link_to 'Log in', sessions_login_path %><br>
<%= link_to 'Login with Google Mail', '/auth/google_oauth2/callback' %><br>
<%= link_to 'Login with Tumblr', '/auth/tumblr/callback' %><br>
<%= link_to 'Login with Twitter', '/auth/twitter/callback' %><br>
