<h2>Edit Author</h2>

<%= render partial: '/layouts/form_errors', locals: {model: @author} %>

<%= form_for @author, url: admin_author_path(@author) do |f| %>
  <%= render partial: 'authors', locals: {f: f} %>
  <%= f.submit %>
<% end %>
