<h1>Create New Author</h1>

<%= render partial: '/layouts/form_errors', locals: {model: @author} %>

<%= form_for @author, :url => admin_authors_path(@author) do |f| %>
  <%= render partial: 'authors', locals: {f: f} %>
  <%= f.submit %>
<% end %>
