<h2>Author List</h2>

<ul>
<% if is_admin? %>

  <% @authors.each do |author| %>

    <li>
      <%= render partial: 'author_admin', locals: {author: author} %>
  </li>

  <% end %>

<% else %>

  <% @authors.each do |author| %>
    <li>
      <%= link_to "#{author.name}", author_path(author) %>
  </li>
  <% end %>

<% end %>
</ul>
