<h2>Author List</h2>

<ul>
<% if is_admin? %>

  <% @authors.each do |author| %>
    <li>
      <p> Show <%= link_to "#{author.name}", author_path(author) %> or
          <%= link_to "Delete", admin_author_path(author), action: :destroy, method: :delete, data: {confirm: "Really delete #{author.name}?" } if author.books.empty? %>
      </p>
    </li>
  <% end %>

<% else %>

  <% @authors.each do |author| %>
    <li>
      <%= link_to "#{author.name}", author_path(author) %>
  </li>
  <% end %>

<% end %>
</ul>
