
<h2>Author List</h2>

<ul>
<% if is_admin? %>

  <% @authors.each do |author| %>

    <li>
      <%= render partial: 'author_admin', locals: {author: author} %>
  </li>

  <% end %>

<% else %>

  <div class="authors"></div>

<% end %>
</ul>

<script id="authors-template" type="text/x-handlebars-template">
  {{#each this}}
  <li data-id={{id}}>
    <p><a href="/authors/{{id}}">{{name}}</a></p>
    <button class="display-books" data-id={{id}}>Show Books</button>
    <ul class="show-books" data-author-id={{id}}></ul>
  </li>
  {{/each}}
</script>

<script id="book-details-template" type="text/x-handlebars-template">
  {{#each this}}
  <li>
    <h4><a href="/books/{{{id}}}">{{title}}</a> - Status: {{status}}</h4>
    <button class="show-description" data-id={{id}}>Show Description</button>
    <p class="show-desc-paragraph" data-id={{id}} style="display:none">{{description}}</p>
</li>
{{/each}}
</script>

<%= javascript_include_tag 'authors' %>
