
<h2>Author List</h2>

<ul>
<% if is_admin? %>

  <% @authors.each do |author| %>

    <li>
      <%= render partial: 'author_admin', locals: {author: author} %>
  </li>

  <% end %>

<% else %>

  <div class="authors"></div>

<% end %>
</ul>

<script id="authors-template" type="text/x-handlebars-template">
  {{#each this}}
  <li data-id={{id}}>
    <p>{{name}}</p>
    <button id="display-books" data-id={{id}}>Show Books</button>
    <button id="show-page" data-id={{id}}>Go to Page</button>
    <ul class="show-books" data-author-id={{id}}></ul>
  </li>
  {{/each}}
</script>

<script id="book-details-template" type="text/x-handlebars-template">
  {{#each this}}
  <li>
  <h4>{{title}} - Status: {{status}}</h4>
  <p>{{description}}</p>
</li>
{{/each}}
</script>

<%= javascript_include_tag 'authors' %>
