
<h2>Create New User</h2>

<%= render partial: '/layouts/form_errors', locals: {model: @user} %>

<%= form_for @user do |f| %>

  <%= render partial: '/users/users', locals: {f: f} %>

  <%= f.submit %><br>
<% end %>
