welcome#home

<h1>Welcome <%= @user.email %></h1><br>

<h3>links to find book, book hx</h3>

<ul>
  <h3>To add</h3>
  <li>current checked out books</li>
  <li>completed books history</li>
  <li>avg arpoints and arbooklvl</li>
  <li>change profile info</li>

</ul>
