<h1>Bookshelf</h1>

<navbar>
  <% if logged_in? %>
  <ul>
    <%= link_to "Home", users_path(User.find(session[:user_id])) %>
  </ul>
  <% else %>
  <ul>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
  </ul>
  <% end %>
</navbar>

  <%= yield %>
